/* Dark */

body {
    background: #2d2d2d;
    color: #999;
}
h1, h2, h3, h4 {
	color: #ccc;
}
#page {

}
#branding {
	background:#222;
}
#secondary  {
    color: #777;
}
#secondary .widget-area .widget-title {
    color: #333;
}
#secondary .widget {
}
figure {
    background-color: #eee;
}
a {
    color: #bbb;
}
a:hover {
    color: #ededed;
}
mark {
    background: #ffc;
}
.entry-meta {
    color: #999;
}
.entry-meta a {
    color: #999;
}
.entry-meta a:hover {
    color: #666;
}
hr {
    background: #ddd;
    color: #ddd;
}
hr.space {
    background: #fff;
    color: #fff;
}
.sticky {
    background-color: #ffffcc;
}
.sticky:before {
    border-color: #cccc99 #fff;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.1);
    box-shadow:0 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.1);
}
blockquote {
    background: #555;
    color: #bbb;
    border-left: 5px solid #777;
}
blockquote a {
    color: #ededed;
}
.wp-caption {
   background-color:#f5f5f5;
   background-image:0 to(#f5f5f5));
   background-image:0 color-stop(100%,#f5f5f5));
   background-image:linear-gradient(top,#ffffff,#f5f5f5);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
   border:1px solid #ddd;
   -webkit-box-shadow:inset 0 1px 0 #ffffff;
   -moz-box-shadow:inset 0 1px 0 #ffffff;
   box-shadow:inset 0 1px 0 #ffffff;
   text-shadow: 1px 1px 1px #ffffff;
   filter: dropshadow(color=#ffffff, offx=1, offy=1);
}
.control { background-image: url(../images/mode-dark.png); }

/* =Header
-------------------------------------------------------------- */

#site-title a {
    color: #ccc;
}
#site-title a:hover {
    color: #eee;
}
#site-description {
    color: #666;
}
#branding hgroup {

}
#site-intro {

}
.home-widget {
    border-bottom: 5px solid #666;
}


/* =Menu

-------------------------------------------------------------- */
#access {

}
#access .menu a, .widget .menu a {
	color:#7a7a7a;
}
#access ul ul a, #access ul ul ul a,
.widget .menu ul a, .widget .menu ul ul a {
    color: #7a7a7a;
}
#access li:hover > a,
.widget .menu li:hover > a, #access .current-menu-item a, #access .current_page_item a {
    color: #ddd;
}
#access ul ul a:hover,
.widget .menu ul a:hover {
    color: #ddd;
}
#access ul ul {
}
#access ul ul a {
}
#access ul ul :hover > a {
}
#access ul ul li.parent > a:after {
    border-left: 4px solid #3d3d3d;
}
.caret {
    border-top: 4px solid #ededed;
}

.flexslider-gpp-controls {
	background:#222;
}

/* =Content
-------------------------------------------------------------- */
article {
    border-bottom: 5px solid #333;
}
article h1.entry-title a,
article h2.entry-title a {
    color: #ddd;
}
article h1.entry-title a:hover,
article h2.entry-title a:hover {
    color: #fff;
}
h1.page-title,
h1.entry-title {
}
article .entry-meta {

}
h1.page-title, h1.entry-title, .page h1.entry-title, h2.section-title {
	border-bottom: 3px solid #3d3d3d;
}
.post-format-content .quote p.quote-author {
    color: #bbb;
}

.portfolio .entry-header {
    color: #fff;
}
.portfolio .entry-content {
    background:#000;
}
.list .portfolio .entry-content {
    background: transparent;
}
.portfolio .entry-content .entry-header a {
    color:#fff;
}
.format-quote blockquote p {
    background: #fef241;
}
.like-count.active:before {
    color: #f00;
}
.wp-caption {
    background: #f5f5f5;
}

#searchform input#s {
    color: #999;
    background: url(../images/search.png) 97% center no-repeat #222;
    border: 1px solid #333;
}
.required {
    color: #cc0033;
}
.single-format-quote .entry-content {
}
#respond input[type=text] {
    border: 1px solid #333;
    color: #697378;
}
#respond textarea {
    border: 1px solid #333;
    color: #697378;
}
.says {
    color: #999;
}
.commentmetadata {
    color: #999;
}
img.avatar {
    border: 10px solid #555;
}
.bypostauthor .avatar {
    border-color:#222;
}
.comment-author-admin article {

}
.comment .avatar {
    background:#444;
    border:10px solid #555;
}
.comment-author-admin .avatar {
    border-color: #333;
}
.comment-meta a {
    color:#999;
}
.comment-meta a:hover {
    color:#555;
}
#commentform label span {
    color:#fa6274;
}
#comments-title {
    border-bottom: 1px solid #333;
    border-top: 3px solid #333;
}
.commentlist article {
    border-width: 1px;
}

.sm-fullscreen {
	color: #fff;
	background:#222;
}
.flexslider-fullscreen, .flexslider-fullscreen .slides, .flexslider-fullscreen .slides li, .flexslider-fullscreen .slides li img {
	background:#222;
}
.flexslider-grid-image-large {
	background:#222;
}
/* =Messages
-------------------------------------------------------------- */
.message {
    border: 1px solid #333;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
}
.error {
    border-color: #fb5766;
    background-color: #fab;
}
.success {
    border-color: #83ba77;
    background-color: #d1feba;
}
.info {
    border-color: #85a5be;
    background-color: #c4dbec;
}
.warning {
    border-color: #d8d566;
    background-color: #fef8c4;
}
tbody tr:nth-of-type(odd) { background: rgba(0,0,0,0.05) }
th, td {
    border: 1px solid #333;
}
#site-generator a {
    color: #bbb;
}
#primary nav .nav-previous, #primary nav .nav-next, input[type="button"], input[type="submit"], .button, .previous-image a, .next-image a {
    color: #333;
    background-color: #222;
	border:0;
}
.comment-reply-link, input[type="submit"] {
    color: #ccc;
}
.button:hover, #primary nav .nav-previous:hover, #primary nav .nav-next:hover, input[type="button"]:hover, input[type="submit"]:hover, .button:focus, #primary nav .nav-previous:focus, #primary nav .nav-next:focus, input[type="button"]:focus, input[type="submit"]:focus, .button:active, #primary nav .nav-previous:active, #primary nav .nav-next:active, input[type="button"]:active, input[type="submit"]:active, .button.active, {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    background-color: #777;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777), to(#888));
    background-image: -moz-linear-gradient(#777, #888);
    background-image: -o-linear-gradient(#777, #888);
    background-image: linear-gradient(#777, #888);
}
#primary nav .nav-previous:hover, #primary nav .nav-next:hover, input[type="submit"]:hover {
	opacity:0.9;
}

/* =Tablets held in portrait orientation
-------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    #site-title a, #site-title a img {
        color: #ededed !important;
    }
    #secondary .widget-area .widget-title { color: #4C5357; }
    #access li a {
        border-bottom: 1px dotted #777;
    }
    #access li:first-child a {
        border-top: 1px dotted #777;
    }
    #access li a:hover {
        background-color: #222;
        color: #ededed;
    }
    aside.widget-1, aside.widget-2, aside.widget-3 {
        border-bottom: 1px dotted #777;
    }
}

/* =Mobile
-------------------------------------------------------------- */
@media screen and (max-width: 520px) {
    .portfolio .entry-content {
        background: #000;
    }
}